<form>
    {{ render "@text-inputs" input}}
    {{ render "@text-inputs--7-character-width" postal merge=true}}
    {{ render "@dropdown-lists" dropdown }}
    {{ render "@radio-buttons--default" radio}}
    {{ render "@text-areas" }}
    {{ render "@buttons--default" }}
</form>