{{#if class}}
    <blockquote class="ontario-blockquote {{class}}">
{{else}}
    <blockquote class="ontario-blockquote">
{{/if}}
    <p>{{desc}}</p>
    {{#if attribution}}
        <cite class="ontario-blockquote__attribution">{{attribution}}</cite>
    {{/if}}
    {{~#if byline~}}
        <cite class="ontario-blockquote__byline">{{byline}}</cite>
    {{/if}}
</blockquote>
