<!DOCTYPE html>
<html>
<head><link href="{{ path '/reactjs/build/static/css/main.88be2ded.chunk.css' }}" rel="stylesheet">
                    <link href="{{ path '/styles/preview-icons.css' }}" rel="stylesheet">
            
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/styles/ds-theme.min.css' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            padding: 1rem;
        }

        dl.styleguide {
            margin: 0;
            padding: 0;
        }

        dl.styleguide dt {
            font-weight: 600;
            color: #1a1a1a;
        }

        dl.styleguide dd {
            margin: 0 0 3.5rem 1.5rem;
        }

        dl.styleguide dd a:last-child {
            margin-bottom: 0;
        }

    </style>
    <title>Preview Layout</title></head>
    {{render '@icons-primary-setup' }}


     {{#if _target.isCollated}}
        <dl class="styleguide">
        {{{ yield }}}
        </dl>
    {{else}}
        {{{ yield }}}
    {{/if}}

<body> <div id="root"></div> <div id="fractal-icons-preview">


</div>
                    <script> window.lang = 'en' </script>
                    <script src="{{ path '/scripts/svgxuse.js' }}"></script>
                    <script src="{{ path '/scripts/reactloader.js' }}"></script>
                    <script src="{{ path '/scripts/translations/translations.js' }}"></script>
                    <script src="{{ path '/scripts/preview-icons.js' }}"></script>
                    <script src="{{ path '/reactjs/build/static/js/main.749ed57a.chunk.js' }}">
                    </script> <script src="{{ path '/reactjs/build/static/js/2.ba729de0.chunk.js' }}"></script></body>
</html>
