<div class="ontario-form-group">
    <label class="ontario-label{{#if labelSize}}ontario-label--{{labelSize}}{{/if}}" for="{{id}}">
    {{#if heading}}
        <h1>
            {{label~}}
            {{~#if flag~}}
            <span class="ontario-label__flag">({{flag.text}})</span>
            {{/if}}
        </h1>
    </label>
    {{else}}
        {{label~}}
        {{~#if flag~}}
        <span class="ontario-label__flag">({{flag.text}})</span>
        {{/if}}
    </label>
    {{/if}}
    {{#if hint}}
    <p id="{{id}}-hint" class="ontario-hint">{{hint}}</p>
    {{/if}}
    <textarea class="ontario-input ontario-textarea" {{#if hint}}aria-describedby="{{id}}-hint"{{/if}} name="{{id}}" id="{{id}}"></textarea>
</div>
